Libraries/LibJS/Tests/invalid-lhs-in-assignment.js
Libraries/LibJS/Tests/unicode-identifier-escape.js
Libraries/LibJS/Tests/modules/failing.mjs

# FIXME: Remove once prettier is updated to support using declarations.
Libraries/LibJS/Tests/builtins/DisposableStack/DisposableStack.prototype.@@dispose.js
Libraries/LibJS/Tests/modules/top-level-dispose.mjs
Libraries/LibJS/Tests/using-declaration.js
Libraries/LibJS/Tests/using-for-loops.js

Tests/LibWeb/Ref/input/wpt-import
Tests/LibWeb/Text/input/wpt-import
