Userland/Libraries/LibJS/Tests/invalid-lhs-in-assignment.js
Userland/Libraries/LibJS/Tests/unicode-identifier-escape.js
Userland/Libraries/LibJS/Tests/modules/failing.mjs

Tests/LibWeb/Ref/input/wpt-import
Tests/LibWeb/Text/input/wpt-import
