Libraries/LibJS/Tests/invalid-lhs-in-assignment.js
Libraries/LibJS/Tests/unicode-identifier-escape.js
Libraries/LibJS/Tests/modules/failing.mjs

Tests/LibWeb/Crash/wpt-import/
Tests/LibWeb/Ref/input/wpt-import
Tests/LibWeb/Text/input/wpt-import
