<style>
</style>
<script>
function freememory() {
}
function jsfuzzer() {
try { document.all[28%document.all.length].appendChild(htmlvar00026); } catch(e) { }
}
</script>
<body onload=jsfuzzer()>
<option id="htmlvar00003" selected="selected" onmousedown="eventhandler2()" checked="checked" onerror="eventhandler3()" checked="checked" cite="#wi2$QSr" row="1" seamless="seamless" allowfullscreen="true" prompt="eA4K.O;;cG">&lt;$^l\oO70m&#x27;Z</option>
<option id="htmlvar00004" role="tooltip" onerror="eventhandler4()" accesskey="I" default="j+RF{EmS6&gt;Bb" dir="RTL" placeholder="qaqS`" inner="1" form="htmlvar00005" default="b}Au=rBuFQ4" tabindex="1">?S^Sl&quot;</option>
<data id="htmlvar00005" value="4LV39-&gt;;Ft&#x27;2lA\&amp;" reversed="reversed" behavior="alternate" longdesc="!_" cellspacing="0" background="&#x27;5\&lt;Mo4HLm3pO|,Dy"></data>
<p id="htmlvar00021" name="" style="-webkit-transform: scale(-1, 1); display: table-column-group; column-rule: 5px solid; max-height: inherit; -webkit-box-orient: vertical" lang="de-CH" style="border-top-color: inherit; text-anchor: middle; mask-source-type: alpha; border-left-color: black; snap-height: 0px" name="^Lpt" disposition="attachment" onwebkitanimationstart="eventhandler3()" defer="defer" scrolldelay="0" compact="compact">
<ins id="htmlvar00022" cite="rk`jUo1&#x27;wC}" datetime="2000-02-01T03:04:05Z" cite="~wn*TM0% aE#^ck" class="class2" cite="nR&amp;!T" onpageshow="eventhandler5()" link="" referrerpolicy="origin" headers="htmlvar00008" code="\bK{q&lt;I{*c7jvqi38G9k">
<template id="htmlvar00023" content="oL(vo" left="-1" results="1" mode="showing" size="-1" lang="lt-LT">&quot;Fd@y&gt;wsMHp</template>
<option id="htmlvar00026" style="padding-right: 50%; justify-content: center safe; -webkit-box-decoration-break: slice; stroke-linejoin: miter; border-right: hidden" checked="checked" disabled="disabled" role="menu" value="8V^V:O" style="max-width: 4vmin; -webkit-box-pack: end; backdrop-filter: grayscale(20%); filter: drop-shadow(0 0 1 green); stroke-linejoin: miter" language="vbscript" startval="7y" pluginspage="n#cQ}]}[O2.1^l]~" right="-1">
<details id="htmlvar00027" name="[&lt;X.%" ontoggle="eventhandler3()" style="perspective-origin: 0 0; border-bottom-width: 1px; -webkit-mask-clip: padding-box; -webkit-perspective-origin-x: 0px; offset-position: auto" style="grid-column-start: first span; padding: 9 35px; -webkit-box-align: top; stroke-linejoin: miter; motion-rotation: reverse -1deg" open="true" menu="htmlvar00008" quality="high" scheme="NIST" muted="muted" ondragenter="eventhandler1()">yCa&lt;Hr!~fl?D5zZr+O</details>
<option id="htmlvar00031" onclick="eventhandler1()" disabled="disabled" accesskey="u" title="sf3E1]~VN&quot;@" onclick="eventhandler2()" content="|mP^QJ0l;yQ/~Zo{ox 0" coords="9, 1, 2, 0" form="htmlvar00004" as="video" charoff="33">
<div id="htmlvar00032" ondrag="eventhandler2()" onselectstart="eventhandler1()" hidden="hidden" ontouchstart="eventhandler2()" onmousedown="eventhandler3()" poster="nL$Vj1#d[qtM77&quot;XL1c" prompt="!" max="1" loopend="1" headers="htmlvar00001">Fqs&gt;YT&#x27;C</div>
<select id="htmlvar00033" onmouseup="eventhandler2()" readonly="readonly" autofocus="autofocus" title="hV~QQ$2.D|v" align="bottom" usemap="#htmlvar00008" text="rgb(23,34,164)" ping="^*13?-Y|7/][(QK_" title="bUhMd" bgcolor="black">
<optgroup id="htmlvar00034" disabled="disabled" tabindex="-1" tabindex="1" disabled="disabled" disabled="disabled" cellpadding="1" abbr=" #-JV1u{" as="audio" select="#htmlvar00004" height="0">
<option id="htmlvar00035" onerror="eventhandler3()" name="oLcsaVI^4m!" dir="RTL" onmouseup="eventhandler5()" onerror="eventhandler5()" low="1" high="7" topmargin="9" disposition="attachment" srcdoc="=RG(UQq!xF">BB#@}17</option>
