/* https://svgwg.org/svg2-draft/styling.html#UAStyleSheet */

@namespace url(http://www.w3.org/2000/svg);
@namespace xml url(http://www.w3.org/XML/1998/namespace);

svg:not(:root), image, marker, pattern, symbol { overflow: hidden; }

*:not(svg),
*:not(foreignObject) > svg {
    transform-origin: 0 0;
}

*[xml|space=preserve] {
    white-space-collapse: preserve-spaces;
}

:link, :visited {
    cursor: pointer;
}

foreignObject {
    display: block;
    overflow: hidden;
}
