<!DOCTYPE html>
<head>
<style>
.container {
  width: 100px;
  height: 150px;
  border: 1px solid black;
}

.left {
  float: left;
  height: 50px;
}

.w80 { width: 80px; }
.w40 { width: 40px; }
.w20 { width: 20px; }

.red { background: red; }
.blue { background: blue; }
.yellow { background: yellow; }
</style>
</head>
<body>
  <div class="container">
    abc abc abc
    abc abc abc
    <div class="left w80 red"></div>
    <div class="left w40 yellow"></div>
    <div class="left w20 blue"></div>
  </div>
</body>
