<!DOCTYPE html>
<style>
body {
    margin: 0;
}

.container {
    outline: 1px solid #666;
    width: 760px;
}

.left {
    background: rgba(80, 140, 255, 0.6);
    float: left;
}

.right {
    background: rgba(255, 140, 80, 0.6);
    float: right;
}

.first-left {
    width: 300px;
    height: 40px;
}

.first-right {
    width: 450px;
    height: 50px;
}

.second-left {
    width: 400px;
    height: 50px;
}

.third-left {
    width: 30px;
    height: 20px;
}

.clear {
    clear: both;
    height: 0;
}
</style>
<div class="container"><div class="left first-left"></div><div class="right first-right"></div><div class="left second-left"></div><div class="left third-left"></div><div class="clear"></div></div>
