<!DOCTYPE html>
<style>
    body {
        margin: 0;
    }

    .container {
        width: 300px;
        font: 16px / 60px SerenitySans, sans-serif;
    }

    .spacer {
        height: 50px;
    }

    .float {
        float: left;
        width: 120px;
        height: 20px;
        background: red;
    }

    .probe {
        margin: -10px 0 0;
    }
</style>
<div class="container">
    <div class="spacer"></div>
    <div class="float"></div>
    <p class="probe">line spans the float</p>
</div>
