<!DOCTYPE html>
<style>
    html {
        font-family: sans-serif;
        width: 650px;
    }
    .a {
        background: rgba(0, 255, 0, 0.6);
        clear: right;
        float: right;
        height: 225px;
        width: 300px;
    }
    .b {
        background: rgba(255, 0, 0, 0.6);
        height: 300px;
    }
</style>
<div class="a"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<div class="a"></div>
<div class="b"></div>
