<!DOCTYPE html>
<!-- align on sections (thead, tbody, tfoot) is inherited -->

<table style="width: 100%">
  <thead align="right">
    <tr>
      <td>
        Right
      </td>
    </tr>
  </thead>
</table>

<table style="width: 100%">
  <tbody align="center">
    <tr>
      <td>
        Center
      </td>
    </tr>
  </tbody>
</table>

<table style="width: 100%">
  <tfoot align="left">
    <tr>
      <td>
        Left
      </td>
    </tr>
  </tfoot>
</table>

<table style="width: 100%">
  <tbody align="justify">
    <tr>
      <td>
        Justify
      </td>
    </tr>
  </tbody>
</table>

<!-- align on rows is inherited -->

<table style="width: 100%">
  <thead>
    <tr align="right">
      <td>
        Right
      </td>
    </tr>
  </thead>
</table>

<table style="width: 100%">
  <tbody>
    <tr align="center">
      <td>
        Center
      </td>
    </tr>
  </tbody>
</table>

<table style="width: 100%">
  <tfoot>
    <tr align="left">
      <td>
        Left
      </td>
    </tr>
  </tfoot>
</table>

<table style="width: 100%">
  <tbody>
    <tr align="justify">
      <td>
        Justify
      </td>
    </tr>
  </tbody>
</table>
