<!DOCTYPE html>
<style>
@font-face {
    font-family: Ahem;
    src: url("../../../Ref/data/fonts/Ahem.ttf");
}

body {
    margin: 0;
}

div {
    width: 500px;
}

table {
    border-collapse: collapse;
    font: 10px/10px Ahem;
}

td {
    padding: 0;
}
</style>
<div>
    <table style="width: fit-content(0)"><tr><td>XX XX</td></tr></table>
    <table style="width: fit-content(30px)"><tr><td>XX XX</td></tr></table>
    <table style="width: fit-content(0%)"><tr><td>XX XX</td></tr></table>
    <table style="width: fit-content"><tr><td>XX XX</td></tr></table>
    <table style="max-width: fit-content(0)"><tr><td>XX XX</td></tr></table>
</div>
