<!doctype html><style>
    body {
        margin: 0;
    }

    .table {
        display: table;
        border-spacing: 0;
    }

    .group {
        display: table-row-group;
    }

    .row {
        display: table-row;
    }

    .cell {
        display: table-cell;
        width: 20px;
        height: 10px;
    }
</style><body><div class="table">
    <div class="row"><div class="cell"></div></div>
</div><div class="table"><div class="group">
    <div class="row"><div class="cell"></div></div>
</div></div><div class="table"><div class="row">
    <div class="cell"></div>
</div></div>
