<!doctype html><style>
    body { margin: 0; }
    .table { display: table; border-spacing: 0; }
    .row { display: table-row; }
    .group { display: table-row-group; background: orange; }
    .cell { display: table-cell; width: 50px; height: 20px; }
</style>
<div class="table">
    <div class="row"><div class="cell"></div></div>
    <div class="group"><div class="row"><div class="cell"></div></div></div>
    <div class="row"><div class="cell"></div></div>
    <div class="group"><div class="row"><div class="cell"></div></div><div class="row"><div class="cell"></div></div></div>
</div>
