<!DOCTYPE html>
<style>
.a tr {
    text-align: left;
}
.b tr {
    text-align: center;
}
.c tr {
    text-align: right;
}
.d {
    text-align: left;
}
</style>
<table><tr><th>default</th></tr><tr><th>lorem ipsum sit</th></table>
<table class="a"><tr><th>left tr</th></tr><tr><th>lorem ipsum sit</th></table>
<table class="b"><tr><th>center tr</th></tr><tr><th>lorem ipsum sit</th></table>
<table class="c"><tr><th>right tr</th></tr><tr><th>lorem ipsum sit</th></table>
<table class="d"><tr><th>left tbl</th></tr><tr><th>lorem ipsum sit</th></table>
<table><tr style="text-align: left"><th>left tr inl</th></tr><tr><th>lorem ipsum sit</th></table>
<table style="text-align: left"><tr><th>left tbl inl</th></tr><tr><th>lorem ipsum sit</th></table>
