<!doctype html>
<style>
    * {
        background: #888;
        outline: 1px solid black;
    }
    .lmao {
        width: 40px;
        height: 40px;
        background: orange;
        border: 5px solid red;
    }
    svg {
        display: block;
    }
    </style
><svg width="48" height="48" viewBox="-8 -8 48 48">
    <defs><rect x="0" y="0" width="48" height="48" id="rekt" /></defs>
    <mask id="rektMask" x="0" y="0" width="40" height="40">
        <use href="#rekt" fill="white"></use>
    </mask>
    <foreignObject mask="url(#rektMask)" x="10" y="20" width="40" height="40"
        ><div class="lmao"></div
    ></foreignObject></svg>
