<!DOCTYPE html>
<svg width="400" height="200" xmlns="http://www.w3.org/2000/svg" font-family="sans-serif" font-size="20">
    <text x="10" y="20">  collapsed	leading
        and  trailing  </text>
    <text x="10" y="50" style="white-space: pre">  preserved	leading
        and  trailing  </text>
    <text x="10" y="80" xml:space="preserve">  preserved	by xml:space  </text>
    <text x="10" y="110" style="white-space: pre"> </text>
    <text x="10" y="140" style="white-space: pre-line">  pre-line	collapses
        spaces  </text>
    <text x="10" y="170" style="white-space-collapse: discard"> dis card </text>
</svg>
