<!DOCTYPE html>
<style>
    .with-pseudo {
        position: relative;
    }
    .with-pseudo::before {
        display: block;
        width: 100%;
        height: 100%;
        color: green;
        content: "c";
        position: absolute;
        top: 0;
        left: 0;
    }
    .with-margin {
        margin: 10%;
    }
    .with-max-width {
        max-width: 100px;
    }
    .inline-block {
        display: inline-block;
    }
</style>
<div>green "c" should be written on top of "b": <span class="with-pseudo"></span>b</div>
<div>green "c" should be written on top of "b": <div></div><span class="with-pseudo"></span>b</div>
<div>green "c" should be written on top of "b": <div class="inline-block"></div><span class="with-pseudo"></span>b</div>
<div>green "c" should be written on top of "b": <div class="inline-block with-margin"></div><span class="with-pseudo"></span>b</div>
<div>green "c" should be written on top of "b": <div class="inline-block with-margin">a</div><span class="with-pseudo"></span>b</div>
<div class="with-margin">green "c" should be written on top of "b": <span class="with-pseudo"></span>b</div>
<div class="with-margin with-max-width">green "c" should be written on top of "b": <span class="with-pseudo"></span>b</div>
