<!DOCTYPE html>
<style>
    .table { display: table; width: 200px; }
    .rows { display: table-row-group; position: relative; }
    .row { display: table-row; }
    .cell { display: table-cell; height: 30px; }
    .abspos { position: absolute; width: 50px; height: 20px; background: skyblue; }
</style>
<div class="table">
    <div class="rows">
        <div class="abspos"></div>
        <div class="row"><div class="cell">first</div></div>
        <div class="row"><div class="cell">second</div></div>
    </div>
</div>
