<!DOCTYPE HTML>
<style>
* {
    font: 70px SerenitySans;
}
.min-block-test {
    background: red;
    min-height: 400px;
    min-width:  200px;

    min-block-size: 700px;
    writing-mode: horizontal-tb;
}
.max-block-test {
    background: blue;
    max-height: 400px;
    max-width:  200px;
    height:     600px;

    max-block-size: 100px;
    writing-mode: horizontal-tb;
}
.block-size-test {
    background: blue;
    block-size: 400px;
    width: 200px;
}
</style>
<p class="min-block-test">KK</p>
<br>
<p class="max-block-test">KK</p>
<br>
<p class="block-size-test">KK</p>
