<!DOCTYPE html>
<style>
    * { margin: 0; padding: 0; }
    .container {
        display: flex;
        width: 500px;
        border: 1px solid salmon;
    }
    .item {
        border: 1px solid black;
    }
</style>
<div class="container">
    <div class="item" style="width: 100px; flex-basis: 100px; height: 50px;">A</div>
    <div class="item" style="width: 150px; flex-basis: 150px; height: 50px;">B</div>
    <div class="item" style="width: 80px; flex-basis: 80px; height: 50px;">C</div>
</div>
<div class="container" style="margin-top: 10px;">
    <div class="item" style="width: 100px; height: 50px;">D</div>
    <div class="item" style="width: 150px; height: 50px;">E</div>
</div>
<div class="container" style="flex-direction: column; width: auto; height: 300px; margin-top: 10px;">
    <div class="item" style="height: 100px; flex-basis: 100px; width: 50px;">F</div>
    <div class="item" style="height: 80px; flex-basis: 80px; width: 50px;">G</div>
</div>
