<!DOCTYPE html>
<textarea id="textarea" cols="10" rows="2"></textarea>
<input id="input" size="5">
<textarea id="vertical-textarea" cols="10" rows="2" style="writing-mode: vertical-rl"></textarea>
<canvas id="canvas" width="50" height="20"></canvas>
<input id="becomes-text" type="checkbox" size="15" style="appearance: none">
<script>
    document.body.offsetWidth;
    document.getElementById("textarea").cols = 30;
    document.getElementById("textarea").rows = 4;
    document.getElementById("input").size = 25;
    document.getElementById("vertical-textarea").rows = 5;
    document.getElementById("canvas").width = 120;
    document.getElementById("becomes-text").type = "text";
</script>
