<!DOCTYPE html>
<style>
    .grid { display: grid; grid-template-columns: 100px 100px; grid-template-rows: 80px; width: 200px; }
    .item { background: lavender; }
    .holder { position: relative; margin: 10px; height: 50px; background: thistle; }
    .abspos { position: absolute; top: 5px; left: 7px; width: 30px; height: 12px; background: crimson; }
</style>
<div class="grid">
    <div class="item">
        <div class="holder">
            <div class="abspos"></div>
        </div>
    </div>
    <div class="item">second</div>
</div>
