<!DOCTYPE html>
<style>
    body {
        font-family: Arial, sans-serif;
    }
</style>
<math>
    <mrow>
        <mi>x</mi>
        <mo>+</mo>
        <mphantom>
            <mi>y</mi>
        </mphantom>
        <mo>=</mo>
        <mi>z</mi>
    </mrow>
</math>
<math>
    <mrow>
        <mfrac>
            <mn>1</mn>
            <mn>2</mn>
        </mfrac>
        <mo>+</mo>
        <mphantom>
            <mfrac>
                <mn>3</mn>
                <mn>4</mn>
            </mfrac>
        </mphantom>
        <mo>=</mo>
        <mi>result</mi>
    </mrow>
</math>
