<!DOCTYPE html>
<style>
    object {
        border: 1px solid black;
    }
</style>
<object data="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='60'></svg>"></object>
<object data="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 20'></svg>" style="width: 100px"></object>
<object data="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5em' height='30'></svg>"></object>
<object data="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5em' height='30' style='font-size: 20px'></svg>"></object>
<object data="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5em' height='30' style='font-size: 20px'><script>document.documentElement.getBoundingClientRect(); document.documentElement.style.fontSize = '10px';</script></svg>"></object>
