<!DOCTYPE html>
<style>
    div {
        width: 200px;
        font: 20px monospace;
        overflow-wrap: anywhere;
    }
    .float {
        float: left;
        width: 100px;
        height: 60px;
    }
</style>
<div><span class="float"></span>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>
<div><span class="float"></span>aa AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>
<div>AAAA<span class="float"></span>BBBBBBBBBBBBBBBBBBBBBBBBBB</div>
<div><span class="float"></span>aa <span style="white-space: nowrap">AAAAAAAAAAAAAAAAAAAAAAAAAA</span></div>
