<!DOCTYPE html>
<style>
    div {
        display: flex;
        width: 200px;
    }

    img {
        width: 32px;
        height: fit-content;
        min-width: fit-content;
    }

    img.calculated-max-height {
        max-height: calc(32px);
    }
</style>
<div><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 1'%3E%3Crect width='2' height='1' fill='green'/%3E%3C/svg%3E"></div>
<div><img class="calculated-max-height" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 1'%3E%3Crect width='2' height='1' fill='blue'/%3E%3C/svg%3E"></div>
