<!DOCTYPE html><style>
    html,body {
        background-color: #99ba92;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    #Main {
        height: 100%;
        display: grid;
        grid-template-rows: 100%;
    }
    #MiddleColumn {
        display: flex;
        background-color: mediumslateblue;
    }
   .MiddleHeader {
        width: 100px;
        height: 100px;
        background: pink;
    }
</style><div id="Main"><div id="MiddleColumn"><div class="MiddleHeader"></div></div>