<!doctype html><style>
    * { outline: 1px solid black; }
    html {
        background: white;
        width: 400px;
        height: 400px;
    }
    body  {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    main {
        background-color: magenta;
        aspect-ratio: 3 / 2;
        width: 300px;
    }
    article {
        background-color: pink;
        height: 100%;
    }
    div {
        background-color: orange;
        position: absolute;
    }
</style><body><main><article>