<!DOCTYPE html>
<style>
.flex {
    display: flex;
}
.table {
    display: table;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}
.content {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.sizer {
    width: 20px;
    height: 100px;
}
.caption {
    height: 20px;
}
</style>
<div class="flex">
    <div class="table"><div class="cell"><span class="content"></span></div></div>
    <div class="sizer"></div>
</div>
<div class="flex">
    <div class="table">
        <div class="caption" style="display: table-caption"></div>
        <div class="cell"><span class="content"></span></div>
    </div>
    <div class="sizer"></div>
</div>
