name: Run test262 and test-wasm

on: [pull_request]

env:
  LADYBIRD_SOURCE_DIR: ${{ github.workspace }}
  VCPKG_ROOT: ${{ github.workspace }}/Build/vcpkg

jobs:
  run_and_update_results:
    runs-on: ubuntu-24.04

    steps:
      - name: Cleanup
        run: |
          echo "Cleaning up previous run"
          rm -rf "${{ github.workspace }}/*"

      - name: Checkout LadybirdBrowser/ladybird
        uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false

      - name: Checkout LadybirdBrowser/libjs-test262
        uses: actions/checkout@v6.0.2
        with:
          repository: LadybirdBrowser/libjs-test262
          path: libjs-test262

      - name: Checkout LadybirdBrowser/libjs-data
        uses: actions/checkout@v6.0.2
        with:
          repository: LadybirdBrowser/libjs-data
          path: libjs-data

      - name: Checkout tc39/test262
        uses: actions/checkout@v6.0.2
        with:
          repository: tc39/test262
          path: test262

      - name: Checkout tc39/test262-parser-tests
        uses: actions/checkout@v6.0.2
        with:
          repository: tc39/test262-parser-tests
          path: test262-parser-tests

      - name: Install dependencies
        run: |
          sudo apt-get update -y

          # We are currently limited to CMake 3.28 in Ubuntu 24.04. Our build requires CMake 3.30 or later.
          CMAKE_VERSION=4.2.3
          CMAKE_NAME="cmake-${CMAKE_VERSION}-linux-x86_64"
          test -e ${CMAKE_NAME} || (
            curl -f -L -o "${CMAKE_NAME}.tar.gz" "https://github.com/Kitware/CMake/releases/download/v${CMAKE_VERSION}/${CMAKE_NAME}.tar.gz"
            tar -xzf "./${CMAKE_NAME}.tar.gz"
            rm "./${CMAKE_NAME}.tar.gz"
            echo "${{ github.workspace }}/${CMAKE_NAME}" >> $GITHUB_PATH
          )


      - name: Print CMake version
        run: |
          cmake --version
